<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"> <!-- 'xmlns:th' is an attribute. url to right of '=' signifies to IDE that this file is a thymeleaf template. xmlns stands for xml name space (xml is an offshoot of html) -->
<head>
    <meta charset="UTF-8" /> <!-- Note the closing '/' character -->
    <title>Title</title>
</head>
<body>
    <form method = 'post' action = '/hello'>
        <input type = 'text' name = 'name' />
        <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>